@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1><i>Time: @Model.Time</i> </h1>

<h3><a href="https://webapplication120200729185943.azurewebsites.net/Movies">Movie Page </a></h3>
<h3><a href="https://webapplication120200729185943.azurewebsites.net/swagger/index.html">Api Page</a></h3>
<h3><a href="https://localhost:44324/Movies">Movie Page(Local)</a></h3>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
<h3><a href="https://localhost:44324/swagger/index.html">Api page(Local)</a></h3>
<p><em>Since time is precious, our website shows users time on it's homepage.<br /> So that they avoid miss any important task of their day. :)</em></p>
<p><em>Thank you!  :)</em></p>
<p><em>For visiting our Page</em></p>
<p><mark><em>Have a great day ahead! :)</em></mark></p>